* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding-bottom: 10px;
}

.header {
    display: flex;
    justify-content: flex-start;
    background-color: burlywood;
    color: black;
    font-weight: bold;
    padding: 40px;
    margin-bottom: 1px;
}

.img-box {
    display: flex;
    justify-content: center;
    height: 400px;
}

img {
    border-radius: 12px;
}

.list-container {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
    gap: 50px;
    align-items: center;
}