* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    padding: 40px;
    justify-content: flex-start;
}

.links {
    display: flex;
    width: 100px;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
}

.ingredients-container {
    display: flex;
    justify-content: space-evenly;
}

.directions-container {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    margin: auto;
    width: 399px;
    margin-bottom: 10px;
}

p {
    font-style: italic;
    text-align: center;
}

h2, h3 {
    color: rgb(87, 44, 44);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}