* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.header-top {
    display: flex;
    background-color: rgb(170, 34, 34);
    justify-content: center;
    padding: 40px;
    margin-bottom: 1px;
}

.header-ingredients {
    display: flex;
    justify-content: center;
    color: rgb(170, 34, 34);
    margin-top: 10px;
    margin-bottom: 50px;
}

.header-directions {
    display: flex;
    justify-content: center;
    color: rgb(170, 34, 34);
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    margin-bottom: 5px;
}

ul, ol {
    display: table;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}

p {
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}