* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.header-container {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(170, 34, 34);
    margin-bottom: 1px;
    padding: 40px;
}

.header-ingredients {
    display: flex;
    color: rgb(170, 34, 34);
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
}

.header-directions {
    display: flex;
    justify-content: center;
    color: rgb(170, 34, 34);
    margin-top: 50px;
    margin-bottom: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    margin-left: auto;
}

img {
    margin: auto;
    display: block;
    height: 300px;
    margin-bottom: 5px;
}

.ul-container {
    display: flex;
    justify-content: center;
}

.ol-container {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}